# data and model files
data/*
!data/README.md
shift-guard-10-robust-image-classification-challenge/
checkpoints/
*.pth
*.pt
results/local/

# python
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/

# os
.DS_Store
